

/* rounded.css */
.rounded {
    width: 100%;
	max-width: 800px;
    margin-top: 25px;
	line-height: 1;
    border: solid #cccccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.rounded tr, .rounded td {
font-size: 16px;
font-weight: 300;
}

.rounded th {
font-size: 18px;
font-weight: 400;
}

.rounded tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

/*

.rounded td, .rounded th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
*/

.rounded th {
	cursor: pointer;
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:  linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded td:first-child,
.rounded th:first-child {
    border-left: none;
}

.rounded th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.rounded th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.rounded th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.rounded tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.rounded tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}


/* header  from Tablesorter-green */

.rounded th,
.rounded thead td {
	border-collapse: collapse;
	padding: 10px;
}

.rounded .header,
.rounded .tablesorter-header {
background: #dce9f9 url(images/sort.svg) 5px center no-repeat;
background-size: 30px 25px;
border-collapse: collapse;
	/* white-space: normal; */
	cursor: pointer;
}

.rounded thead .headerSortUp,
.rounded thead .tablesorter-headerSortUp,
.rounded thead .tablesorter-headerAsc {
background-color: #dce9f9;
	background-image: url(images/triangle-up.svg);
	background-size: 15px 15px;
}

.rounded thead .headerSortDown,
.rounded thead .tablesorter-headerSortDown,
.rounded thead .tablesorter-headerDesc {
	background-color: #dce9f9;
	 background-image: url(images/triangle-down.svg);
	 background-size: 15px 15px;
}

.rounded th.tablesorter-header .tablesorter-header-inner,
.rounded td.tablesorter-header .tablesorter-header-inner {
	padding-left: 30px;
}

.rounded thead .tablesorter-header.sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}

/* from tablesorter-green.css /*


/* Column Widget - column sort colors */
.rounded td.primary,
.rounded tr.odd td.primary {
 background-color: #dce9f9;
}

.rounded tr.even td.primary {
background-color: #dce9f9;
	/* background-color: #c2f0c9; */
}

.rounded td.secondary,
.rounded tr.odd td.secondary {
	background-color: #c2f0c9;
}
.rounded tr.even td.secondary {
	background-color: #c2f0c9;
}

.rounded td.tertiary,
.rounded tr.odd td.tertiary {
	background-color: #d6f5db;
}
.rounded tr.even td.tertiary {
	background-color: #d6f5db;
}


